* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

.sideNav {
    background-color: black;
    color: white;
    height: 100vh;
    text-align: center;
    position: fixed;
}

li {
    text-align: left;
}

.imagesDiv {
    float: right;
}

img {
    height: 200px;
    width: 100%;
}