* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

.sideNav {
    background-color: black;
    color: white;
    height: 100vh;
    text-align: center;
    position: fixed;
}

img {
    height: 200px;
    width: 100%;
}

.btn {
    background-color: orangered;
}

.navBtn {
    background-color: orangered;
    margin: 5px;
}