* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

.sideNav {
    background-color: black;
    color: white;
    height: 100vh;
    text-align: center;
    position: fixed;
    font-family: 'Playfair Display', serif;
}

.name {
    font-size: 30px;
}

.title {
    font-size: 20px;
}

.hover:hover {
    color: orangered
}
img {
    height: 200px;
    width: 100%;
}

